<div class="mx-auto w-full max-w-screen-xl p-1 py-3 lg:py-5 flex items-center justify-center gap-3 flex-col text-white">



@if(activeWeeks.weeks.length > 0){
    @for (week of activeWeeks.weeks; track $index)
    {
    <!-- Load messages from week button -->
    <div id="week_{{week.offset}}" class="w-full">
        <button type="button" (click)="onLoadMessages(week.offset)"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Load Messages {{GetDate(week.offset)}}</button>
    </div>
    }
}
@else
{
    <div class="w-full">
        <p class="text-center text-2xl text-red-600">User <span class="italic font-bold">{{username}}</span> not found</p>
    </div>
}
</div>