<div
    class="mx-auto w-full max-w-screen-xl p-1 py-3 lg:py-5 flex items-center justify-center gap-3 flex-col text-white mt-10">

    <h1 class="text-3xl font-bold">Welcome to GladLogs</h1>

    <p class="text-lg">This is a simple web application that allows to log twitch messages.</p>

    <p class="text-lg">If you are a streamer and would like to have your chat logged, please contact me via <a
            class="italic underline underline-offset-2" href="mailto:assasinoskeer@gmail.com">E-Mail</a></p>


    <p class=" text-lg fixed bottom-6">
        I make this in my spare time and host it on my own server, if you want to support me you can

        <a href="https://www.buymeacoffee.com/assasinos" target="_blank" rel="noopener noreferrer"
            class="bg-yellow-500 text-white font-medium rounded-md px-4 py-2 flex items-center justify-center hover:bg-yellow-600 transition duration-300 ease-in-out shadow-lg">
            <span class="text-lg mr-2">☕</span>
            Buy me a coffee
        </a>
    </p>




</div>